.container {
  background-color: black;
  min-width: 100%;
  min-height: 100%;
}

.row {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

h1, h3, h4, h5, p {
  color: #FFFFFF;
  text-align: center;
  line-height: 1.6;
}

img{
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 0.5rem;
  background-color: white;
  font-weight: 500;
}

.dropdown{
  width: 100%;
  font-size: 18px;
  -webkit-border-radius: 0;
  color: black;
}


.date {
    color: #828282;
}

.save {
    float: right;
}

.form-label-group {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  letter-spacing: .1rem;
  padding: 1rem;
}

.form-label-group input {
  border-radius: 0.5rem;
  width: 100%;
  color: black;
}

.form-label-group label {
  font-weight: 300;
  font-size: 1.5rem;
}
