{% extends 'rsvp/base.html' %}
{% load static %}
{% block content %}
  <br>
  <br>
  <h1>Gary & Louise are getting married!</h1>
    <div class="form-label-group">
    <br>
    <img src="{% static 'media/our_wedding_invitation.png' %}" alt="Coulters Opening Party">
    <br>
    <br>
    <h4>Please let us know if you will be attending by completing the form below:</h4>
    <form method="POST" class="guest-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">SUBMIT</button>
    </form>
    </div>
{% endblock %}
