.container {
  background-color: black;
  width: 100%;
}

.row {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

h1, h5, p {
  color: #FFFFFF;
  text-align: center;
}

img{
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown{
  width: 100%;
  font-size: 150px;
}
/* unvisited link */
a {
  color: #e524c0;
}

/* mouse over link */
a:hover {
  font-weight: 500;
}

/* selected link */
a:active {
  color: font-weight: 200;;
}

.content {
    margin-left: 40px;

}

.date {
    color: #828282;
}

.save {
    float: right;
}

.form-label-group {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  font-weight: 200;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  letter-spacing: .1rem;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group input {
  /*height: 100rem;
  border-radius: 2rem;*/
  width: 100%;
}

.form-label-group label {
  font-weight: 300;
  font-size: 1.5rem;
}
